ul {
  list-style-type: none;
  margin:  0;
  padding: 0; 
  overflow: hidden;
  background-image:url("../popi/IMG_0895.jpg");


  div {
  text-decoration: none;
  text-align: center;



 
li {
  float: left
}

li a {
display: block;
  color: ;white
  text-align: center;
  padding: 50px 100px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #7D91E6 ;
  background-image:url("../popi/IMG_0890.jpg");

active {
  background-color: #04AA6D;
  }
ul {
  position: fixed;
  top: 0;
  width: 100%;
}


	</style>

</head>
<body>
